#XiHu{
	border: 0px solid red;
	width:1928px ;
	height: 850px;
	margin: 0,auto;
}
.XiHu{
	border: 0px solid red;
	width:1100px ;
	height: 850px;
	margin-left: 400px;
}
#XiHu-top{
	border: 1px solid white;
	width:1090px ;
	height: 95px;

}
.XiHu-top-name{
	border: 1px solid white;
	width:60px ;
	height: 50px;
	margin-top: 60px;
}
.XiHu-top-name a{
	color: black;
	text-decoration: none;
	font-size: x-large;
	font-family: "微软雅黑";
	font-size: 30px;
}
a:hover{
	color:#b4a078 ;
}
.XiHu-file{
	border: 1px solid white;
	width:710px ;
	height: 50px;
	margin-top: -38px;
	margin-left: 350px;
}
.XiHu-file a{
		color: black;
		text-decoration: none;
		font-family: "微软雅黑";
}
#XiHu-center{
	border: 0px solid white;
	width: 1090px;
	height: 310px;
	margin-top: 20px;
	background-image: url(../img/334444e6a7bbcf30be9fc0ea7945568f.jpg);
}
.XiHu-more{
	border: 0px solid red;
	width:85px ;
	height: 30px;
	margin-top: -50px;
	margin-left: 1010px;
}
.XiHu-more a{
	color: black;
    text-decoration: none;
    font-family: "微软雅黑";
}
a:hover{
	color:#b4a078 ;
}
.XiHu-bottom-top{
	border: 0px solid red;
	width:1910px ;
	height: 293px;
}
.XiHu-img1{
	border: 0px solid #f4f4f4;
	width: 265px;
	height: 265px;
	float: left;
	margin-top: 25px;
	background-color: #f4f4f4;
}
.XiHu-img10{
	border: 1px solid #b4a078;
	color:#b4a078 ;
	width: 60px;
	height: 22px;
	margin-top: -260px;
	margin-left: -25px;
	padding-top: 0px;
	padding-left: 3px;
	border-radius: 7px;
	font-family: "微软雅黑";
}
.XiHu-img2{
	border: 0px solid #f4f4f4;
	width: 265px;
	height: 265px;
	margin-left: 10px;
	margin-top: 25px;
	float: left;
	background-color: #f4f4f4;
}
.XiHu-img3{
	border: 0px solid #f4f4f4;
	width: 265px;
	height: 265px;
	float: left;
	margin-left: 10px;
	margin-top: 25px;
	background-color: #f4f4f4;
}
.XiHu-img30{
	border: 1px solid #b4a078;
	color:#b4a078 ;
	width: 78px;
	height: 22px;
	margin-top: -260px;
	margin-left: 10px;
	padding-top: 0px;
	padding-left: 3px;
	border-radius: 7px;
	font-family: "微软雅黑";
}
.XiHu-img4{
	border: 0px solid  #f4f4f4;
	width: 265px;
	height: 265px;
	float: left;
	margin-left: 10px;
	margin-top: 25px;
	background-color: #f4f4f4;	
}
.XiHu-img40{
	border: 1px solid #b4a078;
	color:#b4a078 ;
	width: 66px;
	height: 22px;
	margin-top: -260px;
	margin-left: 10px;
	padding-top: 0px;
	padding-left: 3px;
	border-radius: 7px;
	font-family: "微软雅黑";
}
#XiHu img:hover{
	transform: scale(1.1,1.1);
}
img{
	transition: all 1s;
}
.XiHu-bottom-down{
	border: 0px solid blue;
	width: 1190px;
	height: 122px;

}
.XiHu-sale1{
	border: 0px solid orange;
	width: 265px;
	height: 119px;
		float: left;
}
.TeJia1{
	border: 0px solid #e36844;
	width: 56px;
	height: 20px;
	margin-left: 110px;
	margin-top: 7px;
	padding-left: 5px;
	padding-bottom: 3px;
	background-color: #e36844;
	color: white;
	font-family: "微软雅黑";
}
.c-name1{
	border: 0px solid orange;
	width: 225px;
	height: 25px;
	margin-left: 29px;
	margin-top: -10px;
}
.c-name1 a{
	color: black;
	text-decoration: none;
	font-family: "微软雅黑";
}
a:hover{
	color:#b4a078 ;
}
.c-price1{
	border: 0px solid orange;
	width: 35px;
	height: 25px;
	margin-left: 115px;
	margin-top: 2px;
	color:#d4282d ;
}

.XiHu-sale2{
	border: 0px solid orange;
	width: 265px;
	height: 119px;
	float: left;
	margin-left: 11px;
}

.c-name2{
	border: 0px solid orange;
	width: 240px;
	height: 25px;
	margin-left: 20px;
	margin-top: -10px;
	
}
.c-name2 a{
	color: black;
	text-decoration: none;
	font-family: "微软雅黑";
}
a:hover{
	color:#b4a078 ;
}
.c-price2{
	border: 0px solid orange;
	width: 35px;
	height: 25px;
	margin-left: 115px;
	margin-top: 2px;
	color:#d4282d ;
}


.XiHu-sale3{
	border: 0px solid orange;
	width: 265px;
	height: 119px;
	float: left;
	margin-left: 11px;
}
.TeJia2{
	border: 0px solid #e36844;
	width: 53px;
	height: 20px;
	margin-left: 110px;
	margin-top: 7px;
	padding-left: 5px;
	padding-bottom: 3px;
	background-color: #e36844;
	color: white;
	font-family: "微软雅黑";
}
.TeJia3{
	border: 0px solid #e36844;
	width: 53px;
	height: 20px;
	margin-left: 110px;
	margin-top: 7px;
	padding-left: 5px;
	padding-bottom: 3px;
	background-color: #e36844;
	color: white;
	font-family: "微软雅黑";
}
.c-name3{
	border: 0px solid orange;
	width: 215px;
	height: 25px;
	margin-left: 30px;
	margin-top: -10px;
}
.c-name3 a{
	color: black;
	text-decoration: none;
	font-family: "微软雅黑";
}
a:hover{
	color:#b4a078 ;
}
.c-price3{
	border: 0px solid orange;
	width: 35px;
	height: 25px;
	margin-left: 115px;
	margin-top: 2px;
	color:#d4282d ;
}

.XiHu-sale4{
	border: 0px solid orange;
	width: 265px;
	height: 119px;
	float: left;
	margin-left: 11px;
}
.TeJia4{
	border: 0px solid #e36844;
	width: 54px;
	height: 20px;
	margin-left: 110px;
	margin-top: 7px;
	padding-left: 5px;
	padding-bottom: 3px;
	background-color: #e36844;
	color: white;
	font-family: "微软雅黑";
}
.c-name4{
	border: 0px solid orange;
	width: 245px;
	height: 25px;
	margin-left: 10px;
	margin-top: -10px;
}
.c-name4 a{
	color: black;
	text-decoration: none;
	font-family: "微软雅黑";
}
a:hover{
	color:#b4a078 ;
}
.c-price4{
	border: 0px solid orange;
	width: 35px;
	height: 25px;
	margin-left: 115px;
	margin-top: 2px;
	color:#d4282d ;
}