<style>
		*{
			margin: 0px;
			padding: 0px;
		}
		#zjhrenqi{
			width: 1920px;
			height: 700px;
			background-color: #F0F8FF;
		}
		#zjhbianji #zjhrenqi a{
			color: black;
		}
		#zjhrenqi{
			color: #000000;
		}
		#zjhrqtop{
			position: absolute;
			width: 1090px;
			height: 60px;
			margin-left: 400px;
			margin-top: 50px;
		}
		#zjhrqtop1,#zjhrqtop2,#zjhrqtop3,#zjhrqtop4{
			float: left;
		}
		a{
			text-decoration: none;
		}
		#zjhrqtop1{
			/*人气推荐*/
			width: 140px;
			height: 60px;
			font-size: 28px;
			font-weight: bold;
			line-height: 60px;
		}
		#zjhrqtop2{
			width: 70px;
			height: 30px;
			margin-top: 20px;
			margin-left: 10px;
			border-bottom: 2px solid #D2691E;
		}
		#zjhrqtop3{
			width: 70px;
			height: 30px;
			margin-top: 20px;
			margin-left: 60px;
			border-bottom: 2px solid #D2691E;
			border-bottom: none;
		}
		#zjhrqtop4{
			width: 80px;
			height: 30px;
			margin-left: 660px;
			margin-top: 20px;
		}
		#zjhrqtop2 a,#zjhrqtop3 a,#zjhrqtop4 a{
			font-size: 15px;
		}
		
		/*编辑推荐的内容*/
		#zjhbianji{
			position: absolute;
			width: 1090px;
			height: 520px;
			/*background-color: #F0F8FF;*/
			margin-left: 400px;
			margin-top: 120px;
			
		}
		
		/*热销总榜内容*/
		#zjhrexiao{
			position: absolute;
			width: 1090px;
			height: 520px;
			/*background-color: #F0F8FF;*/
			margin-left: 400px;
			margin-top: 120px;
			display: none;
			
		}
		.zjhbianjimatong{
			width: 400px;
			height: 520px;
			background-color: white;
			float: left;
		}
		.zjhbianjimatong1{
			width: 400px;
			height: 400px;
			border-bottom: 1px solid #F0F8FF; /*马桶下线*/
		}
		.zjhbianjimatong1 img{
			margin-top: 50px;
			margin-left: 30px;
		}
		.zjhbianjimatong2,.zjhbianjimatong3{
			width: 400px;
			text-align: center;
			height: 30px;
			margin-top: 10px;
		}
		
		
		/*马桶右边的六个div上一级的大div*/
		.zjhbianjiyou{
			width: 680px;
			height: 520px;
			/*background-color: #F0F8FF;*/
			margin-left: 10px;
			float: left;
		}
		.zjhbianjiyou1,.zjhbianjiyou2,.zjhbianjiyou3,.zjhbianjiyou4,.zjhbianjiyou5,.zjhbianjiyou6{
			width: 220px;
			height: 255px;
			/*margin-left: 5px;
			margin-top: 5px;*/
			background-color: white;
			float: left;
		}
		.zjhbianjiyou1a{
			width: 220px;
			height: 200px;
			/*border-bottom: 2px solid #F0F8FF;*/
		}
		.zjhbianjiyou1a img{
			margin-left: 20px;
			margin-top: 10px;
		}
		
		
		/*鼠标放上图片放大*/
		.zjhbianjimatong img,.zjhbianjiyou1a img{
			transition: 1s;
		}
		.zjhbianjimatong img:hover{
			transform: scale(1.1);
		}
		.zjhbianjiyou1 img:hover{
			transform: scale(1.1);
		}
		.zjhbianjiyou2 img:hover{
			transform: scale(1.1);
		}
		.zjhbianjiyou3 img:hover{
			transform: scale(1.1);
		}
		.zjhbianjiyou4 img:hover{
			transform: scale(1.1);
		}
		.zjhbianjiyou5 img:hover{
			transform: scale(1.1);
		}
		.zjhbianjiyou6 img:hover{
			transform: scale(1.1);
		}
		
	</style>